<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create TodoItem</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input type="text" name="task" required><br>

                <label for="due_date">Due Date:</label>
                <input type="text" name="due_date"><br>

                <label for="is_completed">Is Completed:</label>
                <input type="checkbox" name="is_completed"><br>

                <label for="list">Select List:</label>
                <select name="list">
                    {% for todo_list in todolists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </select><br>

                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
