<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Todo List</title>
  </head>
  <body>
    <main>
        <div>
            <h1>Create Todo List</h1>
            <form method="post" action="{% url 'todo_list_create' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
  </body>
</html>
