<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo List Details </title>
  </head>
  <body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
            <a href="{% url 'todo_list_update' todolist.id %}">Rename List</a>
            <br>
            <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
            <br>
            <a href="{% url 'todo_item_create' %}">New item</a>
            <br>
            <h1>Tasks</h1>
            <table>
                <thread>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thread>
                <tbody>
                    {% for todoitem in todoitems %}
                    <tr>
                        <td>{{todoitem.task}}</td>
                        <td>{{todoitem.due_date}}</td>
                        <td><a href="{% url 'todo_item_update' todoitem.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
  </body>
</html>
