<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo List</title>
  </head>
  <body>
    <main>
        <div>
            <h1>My Lists</h1>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <br>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
            <table>
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Total Number of items</th>
                    </tr>
                </thread>
                <tbody>
                    {% for todo in todoList %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a></td>
                        <td>{{todo.items.count}}</td>
                        <td><a href="{% url 'todo_list_update' todo.id %}">Edit</a></td>
                        <td><a href="{% url 'todo_list_delete' todo.id %}">Delete</a></td>
                        <td><a href="{% url 'todo_item_create' %}">New item</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
  </body>
</html>
