<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update TodoItem</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}

                <label for="task">Task:</label>
                <input type="text" name="task" value="{{ todoitem.task }}" required><br>

                <label for="due_date">Due Date:</label>
                <input type="text" name="due_date" value="{{ todoitem.due_date }}"><br>

                <label for="is_completed">Is Completed:</label>
                <input type="checkbox" name="is_completed" {% if todoitem.is_completed %}checked{% endif %}><br>

                <label for="list">Select List:</label>
                <select name="list">
                    {% for todo_list in todolists %}
                        <option value="{{ todo_list.id }}" {% if todo_list.id == todoitem.list.id %}selected{% endif %}>
                            {{ todo_list.name }}
                        </option>
                    {% endfor %}
                </select><br>

                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
